---
title: Google Case Study
---
<div class="text-row reveal">
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="32px" height="32px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
    <g id="logo" stroke="rgba(0,0,0,0.88)" stroke-width="3">
      <polyline id="path" transform="translate(32.293042, 32.000000) scale(1, -1) translate(-32.293042, -32.000000) " points="57.5860846 45.9996989 32.2930424 60 7 45.9996989 7 31.9993979 32.2930424 18.0003011 44.9395635 24.9992473 19.6465212 38.9995484 32.2930424 45.9996989 57.5860846 31.9993979 57.5860846 18.0003011 32.2930424 4 7 18.0003011"></polyline>
    </g>
  </g>
</svg>
  <h4 class="f6 tracked black-50 ttu fw4">Sebastian Graz — <a href="https://graz.io">graz.io</a></h4>
  <div class="f3">
    <h1 class="mt0">Google Design Exercise</br> — Wait Staff Reviews</h1>
  </div>
</div>

<div class="image-row reveal">
  <img src="images/overview.jpg" alt="">
</div>

<div class="image-row reveal">
  <img src="images/allscreenswait.jpg" alt="">
</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Design Exercise Brief</h4>
  <blockquote class="f3 mh0 black-50">“While there are many ways to <mark>rate</mark>
 and <mark>review</mark> restaurants, these are not focused on evaluating individuals waiters. Design an experience where diners can submit <mark>positive comments</mark> and <mark>constructive</mark> suggestions for the wait staff, and waiters can use this feedback to both improve and help to secure new employment.”
  </blockquote>
</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Why this challenge?</h4>
  <p>
    This exercise piqued my curiosity from the first sentence of reading it. Because it involved a rather controversial theme; rating people. Having little exposure to the topic I began reading about how other companies have dealt with one-sided ratings. And how most of them failed, miserably. By then I was already hooked on the idea of trying to make this work.
  </p>
</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Completion time</h4>
  <div class="flex-ns justify-between">
    <div class="ph2">
      <div class="h4 f-5-ns f-6 tc-ns fw2 tracked-tight">13<span class="ml2 f7 fw7">h</span></div>
      <div class="f6 fw5 tracked ttu tc-ns">Total time</div>
    </div>
    <div class="ph2">
      <div class="h4 f-5-ns f-6 tc-ns fw2 black-30 tracked-tight">07<span class="ml2 f7 fw7">h</span></div>
      <div class="f6 fw5 tracked ttu tc-ns">Research</div>
    </div>
    <div class="ph2">
      <div class="h4 f-5-ns f-6 tc-ns fw2 black-30 tracked-tight">02<span class="ml2 f7 fw7">h</span></div>
      <div class="f6 fw5 tracked ttu tc-ns">Wireframe</div>
    </div>
    <div class="ph2">
      <div class="h4 f-5-ns f-6 tc-ns fw2 black-30 tracked-tight">04<span class="ml2 f7 fw7">h</span></div>
      <div class="f6 fw5 tracked ttu tc-ns">Visual</div>
    </div>
  </div>
</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Research</h4>
  <div class="mv4">
    <ul class="flex flex-wrap list black-60">
      <li class="pv2 ph3 br-pill ba mr2 f6">Question and Challenge Brief</li>
      <li class="pv2 ph3 br-pill ba mr2 f6">Competitor analysis</li>
      <li class="pv2 ph3 br-pill ba mr2 f6">Technology considerations</li>
      <li class="pv2 ph3 br-pill ba mr2 f6">Brainstorm, sketchstorm</li>
      <li class="pv2 ph3 br-pill ba mr2 f6">Write down assumptions & constraints</li>
      <li class="pv2 ph3 br-pill ba mr2 f6">User identification</li>
    </ul>
  </div>
  <p>
    To begin with I broke up the brief statement and tried to understand the underlying meaning. For instance I noticed quite different narratives from sentence to sentence. For instance the brief included words like 'positive comments', 'rating', 'constructive suggestions' and 'review'. They all convey a different story, but they mean pretty much the same thing.

    These words ultimately ended up being less important as I progressed further, because at the end of the day it was about solving a problem. Regardless of which direction the brief wanted me to take.
  </p>
 <p>
    One could argue that this exercise of breaking down the sentence of the task at hand might seem superfluous. But for me as a designer its important to not miss the tiny subtleties of a problem statement. Misunderstanding the problem statement might render our whole design process useless.
   </p>
  <p>
    My research was conducted in a very uninspiring hotel in Paris. I choose ideation methods that helped me casting a wide net over the problem. Such as brainstorming, sketchstorming, which really helped form a better picture in my head. I'm a very visual learner so in order to grasp the concept I started drawing very simple site maps to get me started. This led to me writing down a lot of questions, and assumptions and even constraints which I documented online.
  </p>
</div>
<div class="image-row reveal">
  <ul class="flex flex-wrap black-50 list">
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> The experience of being at a restaurant needs to be undigitalised. Its a very human-human heavy interaction and it should not obstacled with cool new tech. Like wise the act of rating servers based on their performance needs to be carefully thought through to not step on any toes. </p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> How does a user know that they can give feedback to their server?</p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> Usually there can be many servers that handle one customer. How can we design a solution that caters for that?</p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> Many restaurant goers do not review restaurants after dining. Therefore it's important to note that giving feedback to a server should not be a strained experience for the restaurant goer. For instance they shouldnt be forced to leave a review. But for the restaurant goer that commonly leaves a reivew, it'll be easier for them to also review their server.</p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> How do we identify a server within the restaurant? Is there a UI that allows the business owner to add new waiters in the system? Is this already possible to do for existing restaurant data within Google and Gmaps? </p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> Most waiters work together rather than having one waiter the entire night how to deal with that? </p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> Is there a way to undo a rating once it has been submitted? </p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> Can certain feedback from diners be disregarded due to spamming or bullying? </p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> Most restaurants use a hospitality software solution to deal with table seating. Is there a way to easily integrate seamless server identification? </p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> When does the feedback-giving session happen? Ideally the process should be so integrated that the user should be able to rate the server even when they have left the restaurant. That way the restauranteur can be a bit more discreet. </p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> Should the feedback come from anonymous users or from logged in users. </p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> How does the restaurant check-in process look like? How is the restaurant-goer identified? Does the restaurant-goer need to be signed in in order to give feedback? </p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> Assuming most restaurant will not have hi-tech gadgets like NFC (near-field-coms). Or RFID (Radio-frequency identification) or BLE (Bluetooth low-energy). The solution would have to consider a more traditional check-in approach using push notification prompts. A graceful fallback for those restaurants that dont have the tech, perhaps. </p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> Is there an incentive for the restaurant goer to actually check in to the restaurant? Perhaps a discount? </p></li>


    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> What if the server does not want to participate in the feedback program? Is there a way to include or exclude some of the servers within the restaurant? </p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> Is Google looking to profit from this new business venture? If so how do they do it? Would the restaurant themselves pay a fee to use the service to improve their own server team? At a glance that incentive itself may be enough. </p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> Should the server rating be publicly available? If so can the server themselves choose whether to share their rating? Generally for a restaurant goer they will not be able to pick their server based on their score. They simply get assigned a server whos available at the time so there is no goal in displaying the server rating to the public.</p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> Is it of any interest for the restaurant goer to know whether the servers of a particular restaurant are generally well rated? And likewise if the servers in a restaurant have a bad reputation. </p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> How do we make sure the restaurant goers leave a constructive feedback? </p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> It made me think how can we design a experience that caters for those days when a waiter is having a bad day.  </p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> Is even a rating-led solution the best? Is there another way to rate a waiter without choosing a number between 1-5</p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> That's why its incredibly important that the ratings that are submitted to the app are genuine. And they need to prevent 'bullying'. Whereby the diner can threaten to give a bad rating if this and that.</p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> Will there be a list of feedback to choose from? Or can the diner write personal comments?</p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> How would I feel if the work I do was scrutinized by ratings and comments? </p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> Avoid flooding the server with bad/good reviews. </p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> Identify if a friend/random customer is rating a server? Could potentially skew the rating.</p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> Is there a way to introduce a system that only allows for genuine ratings?</p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> How can we encourage diners to give more genuine reviews. </p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> The rating of restaurants and waiters should be integrated. No point developing a new app or website, if there is an opportunity to include it in the existing Google ecosystem. For instance the Google maps reviews of restaurants</p></li>
    <li class="w-50 w-25-m w-20-l ph2 self-end reveal pb3"><p class="ma0 ba f7 pa2 br2 b--black-10"> Find out if Google can categorize restaurants that actually have waiters. Some restaurants can simply be a hole-in-the-wall with no servers </p></li>
    </ul>
</div>
<div class="text-row reveal">
  <p>
    Competitor research helped me get my feet on the ground after gathering the initial assumptions and questions I had.
  </p>
  <p>
    At this point I had a lot of data on the subject, it seemed like a good time to dig around on what is possible in terms of technology. I found interesting articles on identification technology such as BLE, RFID and NFC. Which would later help me understand the general concept of digital check-in.
  </p>
</div>


<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Research Convergence</h4>
  <div class="mv4">
    <ul class="flex flex-wrap list black-60">
      <li class="pv2 ph3 br-pill ba mr2 f6">User Research</li>
      <li class="pv2 ph3 br-pill ba mr2 f6">How Might We's</li>
      <li class="pv2 ph3 br-pill ba mr2 f6">Grouping ideas</li>
      <li class="pv2 ph3 br-pill ba mr2 f6">Defining a mission statement</li>
    </ul>
  </div>
  <p>
    I started having conversations with friends who were in the hospitality industry. The conversations spawned many interesting questions that were later reused when conducting the proper user research.
  </p>
  <p>
    Using my data gathered in the second phase I was able to translate them into How Might We's to help me frame the problem properly. After the HMWs were defined I categorised them into three different user groups. The very same users that would be affected by the final design solution.
  </p>
  <img src="images/hmw.png" alt="">
  <span class="f7">I'm sorry these are not post-its</span>
  <p>
    I wrote down questions for my user interviews using the HMWs as guidance to make sure I was not going off-piste from the initial brief.
  </p>
  <p>
    Unstructured user interviews were conducted using the questions I had converted from the HMWs. I found that having a conversation with the people in the hospitality industry was easier than trying to fit a narrative question by question.
  </p>
  <p>
    While I had defined a rough mission statement in the beginning to help me contextualise the problem. I had much more knowledge about the problem after the user interviews. So I rewrote it to reflect on my new findings.
  </p>
</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">User interviews</h4>
  <p>
    I interviewed three people who had worked in the hospitality industry.
  </p>
  <img src="images/questions.png" alt="">
  <p>I considered the user interviews to be like a lot like lightning talks for me. I learned a lot about the hospitality industry as a whole. But at the same time I got to ask questions that were important to progress further</p>
  <p>For the sake of brevity I included some quotes that were really important in forming my idea around the design solution.</p>
  <div class="flex flex-wrap">
    <p class="w-50 pa3 black-50">“Hospitality is a very un-digital industry — when they opened an iPad-only restaurant in Stockholm they made major losses in profit. Service is about human interaction”</p>
    <p class="w-50 pa3 black-50">“In Poland its common to find waiter questionnaires where they put a field where they ask you to describe the waiters appearance. This is to identify which waiter the feedback is directed towards”</p>
    <p class="w-50 pa3 black-50">“For me 70% of a dining experience is all about the service”</p>
    <p class="w-50 pa3 black-50">“I would find a service like this useful because sometimes the place itself has a good rating but the service is terrible”</p>
    <p class="w-50 pa3 black-50">“My bartender friend said he’d prefer the whole thing to be based on anonymity”</p>
    <p class="w-50 pa3 black-50">“Being rated as a waiter sounds horrible!”</p>

  </div>

</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Mission Statement Findings</h4>
  <blockquote class="f3 mh0 black-50">
    My research has found that good restaurant experiences rely heavily on human-to-human interactions.
    <br></br>
    Restaurants run on established processes and generally shy away from hi-tech if it means less face-time with the customer.
    <br></br>
    A restaurant’s experience can be severely impacted if the service is bad. Regardless of the food or the atmosphere.
  </blockquote>
</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Mission Statement</h4>
  <blockquote class="f1 mh0 black-50 lh-title">
    Improve dining experiences by improving their service
  </blockquote>
  <p>To do this we will</p>
  <ol>
    <li>Help waiters become better at their craft by providing genuine feedback from customers</li>
    <li>Incentivise waiters to learn about the hospitality industry </li>
    <li>Help the waiters feel like a valued employee</li>
  </ol>
</div>



<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Paper Wireframes</h4>
  <p>
    I wrote a new final user journey to reflect the updated mission statement, this was the user journey flow that would later become the final design as well. Using this final user journey I was able to sketch out some basic wireframes on paper to get a feeling for the flow. After couple of iterations I was happy to move into digital wireframing.
  </p>
</div>

<div class="image-row reveal">
  <img src="images/wires.jpg" alt="">
</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Digital Wireframes</h4>
  <p>
    To explore as many concepts as possible I set out to create 3 different scenarios during digital wireframing. The 3 different wireframes considered different scenarios, such as using a check-in system to the restaurant. Using NFC devices, and finally using a schedule system using Google's My Business.
  </p>
  <img src="images/flow.png" alt="">
  <span class="f7">A visual high level flow that didn't make the cut</span>
  <p><mark>This is where things get interesting</mark></p>
  <p>
    The third and final wireframe journey was an much more realistic approach to the problem. Going back to my user research I realised that restaurants were hesitant introducing extra work load to their already busy schedule. Such as bringing NFC devices onto the table in order for the customer to give feedback. My new updated journey would put the ball in the court of the customer.
  </p>
  <p class="f2">
    Google Maps already has vast amount of data about restaurants around the world. So my idea is to directly integrate the design solution as an integral part of Google Maps. I call it the <mark>Integrated Approach</mark>
  </p>
  <p>
    This helps the concept to become instantly adopted world-wide. Instead of worrying about making sure all restaurants and customers have downloaded a certain app.
  </p>
  <p>
    Because most of the workload of reviewing a waiter is delegated to the customer I discovered that a lot of constraints and assumptions where automagically solved. Such as identifying if a restaurant has waiters at all. Some food places are simply a hole-in-the-wall type and have no external service.
  </p>
  <p>
    A constraint to consider: How to deal with restaurants with lots of waiters? Ideally when the user is ready to give service feedback, they are presented only with the waiters that they interacted with. To solve this issue partially I've included some design thinking around what the business owners can do to help solve that issue. Google already has the My Business platform where they can edit various aspects of their business listing. Using the platform; business owners can define a schedule for their employees. Meaning that when customers are presented with a list of waiters, they only see the ones working on that particular day
  </p>
  <p>
    The integrated approach also solved the problem of making sure all restaurants had the latest technology such as scanning a NFC tag, or even a QR code. This meant that this solution will work for any restaurants around the world. No matter how remote they might be</p>
  </p>
  <p>
    During my research I identified that only certain user types would actively review businesses. The integrated approach makes sure that users arent forced to leave a review if they are not that type of user.
  </p>
</div>

<div class="image-row reveal">
  <img src="images/digital-wireframe.png" alt="">
</div>

<div class="text-row reveal nt6 cf">
    <div class="fl-ns w-60-ns">
      <video width="303" height="540" playsinline autoplay loop>
        <source src="/videos/wireframe_output.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <p class="fr-ns w-40-ns mt5 pl3-ns">
        It was important for me to clearly visualise the whole journey. I created simple wireframe prototypes that I was able to send to people who I interviewed earlier.
        <br></br>
        The feedback from the interviewees helped me form better experiences by listening to their painpoints and goals.
    </p>
</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Conclusions from wireframing</h4>
  <p>
    To reach the goal of helping the waiter become better at their craft the journey is built around giving feedback to each individual waiter.
  </p>
  <p>My research found that most customers are more likely leave reviews or feedback when the experience is either very bad or very good.</p>
  <p class="f3">How do we make sure the feedback is usable for the waiter?</p>
  <p>
    In order for the waiter to receive tangible feedback (without the emotions), we help the customers along the way. Customers are discouraged from leaving raw text comments. Customers are instead presented with a questionnaire with predefined questions that will help the waiter make sense of the feedback.
  </p>
</div>

<div class="image-row reveal">
  <img src="images/waiterfeedback.png" alt="">
</div>

<div class="text-row reveal">
  <p>
    Each topic of the questionnaire is crafted carefully to give quantifiable data to the restaurant. For instance if the customer is unhappy with slow service. The customer can select the option which says 'long wait', but they are also encouraged to enter how long they think they waited in minutes. This way the data can tell how long a 'long wait' truly is.
  </p>
  <p>
    A restaurant on the beach may be able to get away with slow service. However, a heavily trafficked city restaurant will need to be quicker. So the data will automatically align the slow service threshold appropriately.
  </p>

</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Visual design</h4>
  <p>
    In the visual design phase I started thinking about micro-interactions on a deeper level
  </p>
  <p>
    For instance how could we have the customer to identify a waiter if the profile picture is really vague? The solution was to include short video snippets instead of static pictures. When a waiter is onboarded they upload a short video of themselves that the app translates into a stop motion video. This helps the user further to identify a waiter more easily.
  </p>
</div>

<div class="image-row reveal">
  <img src="images/allscreens.jpg" alt="">
</div>
<div class="text-row reveal nt6 cf">
    <div class="fl-ns w-60-ns">
      <video width="303" height="540" playsinline autoplay loop>
        <source src="/videos/visual.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <p class="fr-ns w-40-ns mt5 pl3-ns">
        The visual journey clearly shows how the solution is integrated into Google Maps
        <br></br>
        The user customers can now rate the food, the service and the ambience of a restaurant
        <br></br>
        This will feed valuable data into Google Maps that is even more accurate which will help bringing better restaurant recommendations for future users.
    </p>
</div>
<div class="image-row reveal flex">
  <iframe style="border: none;" width="640" height="800" class="center"  src="https://www.figma.com/embed?embed_host=share&url=https://www.figma.com/proto/PgxyFHEyV8RgHnA3Grp9jiXD/visual?scaling=contain&node-id=2%3A313" allowfullscreen></iframe>
</div>

<div class="text-row reveal cf">
    <div class="fl-ns w-60-ns">
      <video width="303" height="540" playsinline autoplay loop>
        <source src="/videos/framer.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <p class="fr-ns w-40-ns mt5 pl3-ns">
        As for micro-interactions. I quickly whipped up a Framer prototype to test the feasibility of the questionnaire functionality. It's not perfect but it's a proof of concept I'm happy to share.
        <br></br>
        It clearly shows the speed in which the user can give feedback to the waiter.
    </p>
</div>


<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Visual design — Waiter app</h4>
  <p>
    While the customer level is integrated into Google Maps, the waiters have their own app where they can check their performance.
  </p>
  <p>
    This is where all the data congregates into usable actions
  </p>
  <p>
    Our second goal of incentivising waiter to learn about the hospitality is solved in the waiter app. The waiters can read what went right and what went wrong, and learn from it!
  </p>
  <p>
    The waiter can read more about a specific topic, such as 'Long Wait'. In the detailed view the waiter is presented with useful data such as: How many minutes do customers think is considered a long wait?
  </p>
  <img src="images/wait.png" alt="">
  <p>
    The app includes positive feedback in forms of compliments from the customers. Making them feel valued as an employee. Tapping into reaching goal number 3 in the mission statement.
  </p>
  <p>
    The waiter can also download a document from the app that displays achievements throughout the entire career. The document can act as a valuable supplement to the CV. Helping them find better job prospects.
  </p>
</div>

<div class="image-row reveal">
  <img src="images/allscreens-waiter.jpg" alt="">
</div>


<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Conclusions & thoughts</h4>
  <p>
    Albeit adventurous, I think there is great potential in expanding the reviews into granular sections such as Service and Atmosphere. My research showed that users would find it useful to be able to see beyond the general restaurant rating.
  </p>
  <p>
    Like I mentioned in the beginning, this topic could be considered quite controversial due to the nature of rating people. But when there is a mutual exchange of values, it changes the narrative a bit. The waiter gets important feedback to become better. And the customer get incentives in form of restaurant vouchers or Local Guide points.
  </p>
  <p>
    I did consider whether star rating would be the best way to rate a waiter. And the conclusion was that because Google users are used to the convention of stars I wouldn't want to challenge that too much. But some further user testing could probably indicate if there is another way to rate a waiter.
  </p>
  <p>
    I spent a lot of time thinking about the tone-of-voice of the design solution. I knew that a sensitive topic like this needed extra carefulness in terms of copywriting. It was important to bring out the human-to-human feel in the messaging throughout the app.
  </p>

  <p>This exercise was a lot of fun to complete. I learned quite a bit about interesting methodologies that I found out whilst researching the best way to approach this problem.</p>

  <p>If I had more time I would keep looking into improving the feedback that is sent between customer and waiter. Ultimately that is the most important aspect of the whole idea.
  </p>

  <p>But I would also love to spend more time researching ways for customers to only be exposed to the waiters they interacted with. It could really change the way users would be able to rate services for other industries too</p>
</div>
<div class="text-row reveal">
  <h1>Thank you for reading</h1>
  <a href="#">Go to top</a>
</div>
