---
title: Google Case Study
---
<div class="text-row reveal">
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="32px" height="32px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
    <g id="logo" stroke="rgba(0,0,0,0.88)" stroke-width="3">
      <polyline id="path" transform="translate(32.293042, 32.000000) scale(1, -1) translate(-32.293042, -32.000000) " points="57.5860846 45.9996989 32.2930424 60 7 45.9996989 7 31.9993979 32.2930424 18.0003011 44.9395635 24.9992473 19.6465212 38.9995484 32.2930424 45.9996989 57.5860846 31.9993979 57.5860846 18.0003011 32.2930424 4 7 18.0003011"></polyline>
    </g>
  </g></svg>
  <h4 class="f6 tracked black-50 ttu fw4">Sebastian Graz — <a href="https://graz.io">graz.io</a></h4>
  <div class="f3">
    <h1 class="mt0">Google Design Exercise — </br>Wait Staff Reviews</h1>
  </div>
</div>

<div class="image-row reveal">
  <img src="images/overview.jpg" alt="">
</div>

<div class="image-row reveal">
  <img src="images/allscreenswait.jpg" alt="">
</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Design Exercise Brief</h4>
  <blockquote class="f3 mh0 black-50">“While there are many ways to <mark data-balloon="Lets break down the brief: First sentence include the word rate" data-balloon-pos="up">rate</mark>
 and <mark data-balloon="But also includes the word review, this will be important later" data-balloon-pos="up">review</mark> restaurants, these are not focused on evaluating individuals waiters. Design an experience where diners can submit <mark data-balloon="The brief later states 'positive comments', this changes the narrative quite a bit" data-balloon-pos="up">positive comments</mark> and <mark data-balloon="Constructive has a positive connotation as well" data-balloon-pos="up">constructive</mark> suggestions for the wait staff, and waiters can use this feedback to both improve and help to secure new employment.”
  </blockquote>
</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Why this challenge?</h4>
  <p>
    This exercise piqued my curiosity from the first sentence of reading it. It did so because it involved a rather controversial topic; rating people. Having little exposure to the topic I began reading about how other companies have dealt with one-sided ratings.
    </br></br>
    And how most of them failed, miserably.</br>
    By then I was already hooked on the idea of trying to make this work.
  </p>
</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Completion time</h4>
  <div class="flex-ns justify-between">
    <div class="ph2">
      <div class="h4 f-5-ns f-6 tc-ns fw2 tracked-tight">13<span class="ml2 f7 fw7">h</span></div>
      <div class="f6 fw5 tracked ttu tc-ns">Total time</div>
    </div>
    <div class="ph2">
      <div class="h4 f-5-ns f-6 tc-ns fw2 black-30 tracked-tight">07<span class="ml2 f7 fw7">h</span></div>
      <div class="f6 fw5 tracked ttu tc-ns">Research</div>
    </div>
    <div class="ph2">
      <div class="h4 f-5-ns f-6 tc-ns fw2 black-30 tracked-tight">02<span class="ml2 f7 fw7">h</span></div>
      <div class="f6 fw5 tracked ttu tc-ns">Wireframe</div>
    </div>
    <div class="ph2">
      <div class="h4 f-5-ns f-6 tc-ns fw2 black-30 tracked-tight">04<span class="ml2 f7 fw7">h</span></div>
      <div class="f6 fw5 tracked ttu tc-ns">Visual</div>
    </div>
  </div>
</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Research</h4>
  <div class="mv4">
    <ul class="flex flex-wrap list black-60">
      <li class="pv2 ph3 br-pill ba mr2 f6">Question and Challenge Brief</li>
      <li class="pv2 ph3 br-pill ba mr2 f6">Competitor analysis</li>
      <li class="pv2 ph3 br-pill ba mr2 f6">Technology considerations</li>
      <li class="pv2 ph3 br-pill ba mr2 f6">Brainstorm, sketchstorm</li>
      <li class="pv2 ph3 br-pill ba mr2 f6">Write down assumptions & constraints</li>
      <li class="pv2 ph3 br-pill ba mr2 f6">User identification</li>
    </ul>
  </div>
  <p>
    Before even attempting the research I broke up the brief statement and tried to understand the underlying meaning. For instance I noticed quite different narratives from sentence to sentence. For instance the brief included words like 'positive comments', 'rating', 'constructive suggestions' and 'review'.

    These words ultimately ended up being less important as I progressed further, because at the end of the day it was about solving a problem. Regardless of which direction the brief wanted me to take.
  </p>
 <p>
    One could argue that this exercise of breaking down the sentence of the task at hand might seem superfluous. But for me as a designer its important to not miss the tiny subtleties of a problem statement. Misunderstanding the problem statement might render our whole design process useless.
   </p>
  <p>
    My research was conducted in a very uninspiring hotel in Paris. I choose ideation methods that were effective with casting a wide net over the problem. Such as brainstorming, sketchstorming, which really helped form a better picture in my head. I'm a very visual learner so in order to grasp the concept I started drawing very simple site maps to get me started. This led to me writing down a lot of questions, and assumptions and even constraints which I documented online.
  </p>
  <p>
    Competitor research helped me get my feet on the ground after gathering the initial assumptions and questions I had.
  </p>
  <p>
    At this point I had a lot of data on the subject, it seemed like a good time to dig around on what is possible in terms of technology. I found interesting articles on identification technology such as BLE, RFID and NFC.
  </p>
</div>


<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Research Convergence</h4>
  <div class="mv4">
    <ul class="flex flex-wrap list black-60">
      <li class="pv2 ph3 br-pill ba mr2 f6">User Research</li>
      <li class="pv2 ph3 br-pill ba mr2 f6">How Might We's</li>
      <li class="pv2 ph3 br-pill ba mr2 f6">Grouping ideas</li>
      <li class="pv2 ph3 br-pill ba mr2 f6">Defining a mission statement</li>
    </ul>
  </div>
  <p>
    I started having conversations with friends who were in the hospitality industry. The conversations spawned many interesting questions that were later reused when conducting the proper user research.
  </p>
  <p>
    Using my data gathered in the second phase I was able to translate them into How Might We's to help me frame the problem properly. After the HMWs were defined I categorised them into three different user groups. The very same users that would be affected by the final design solution.
  </p>
  <img src="images/hmw.png" alt="">
  <span class="f7">I'm sorry these are not post-its</span>
  <p>
    I wrote down questions for my user interviews using the HMWs as guidance to make sure I was not going off-piste from the initial brief.
  </p>
  <p>
    Unstructured user interviews were conducted using the questions I had converted from the HMWs. I found that having a conversation with the people in the hospitality industry was easier than trying to fit a narrative question by question.
  </p>
  <p>
    While I had defined a rough mission statement in the beginning to help me contextualise the problem. I had much more knowledge about the problem after the user interviews. So I rewrote it to reflect on my new findings.
  </p>
</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">User interviews</h4>
  <p>
    I interviewed three people who had worked in the hospitality industry.
  </p>
  <p>
  Before deep diving into the industry questions I asked the interviewees some very basic question about their background and their current careers, goals and motivations etc</p>
  <img src="images/questions.png" alt="">
  <p>For the sake of brevity I included some quotes that were really important in forming my idea around the design solution.</p>
  <div class="flex flex-wrap">
    <p class="w-50 pa3 black-50">“Hospitality is a very un-digital industry — when they opened an iPad-only restaurant in Stockholm they made major losses in profit. Service is about human interaction”</p>
    <p class="w-50 pa3 black-50">“In Poland its common to find waiter questionnaires where they put a field where they ask you to describe the waiters appearance. This is to identify which waiter the feedback is directed towards”</p>
    <p class="w-50 pa3 black-50">“For me 70% of a dining experience is all about the service”</p>
    <p class="w-50 pa3 black-50">“I would find a service like this useful because sometimes the place itself has a good rating but the service is terrible”</p>
    <p class="w-50 pa3 black-50">“My bartender friend said he’d prefer the whole thing to be based on anonymity”</p>
    <p class="w-50 pa3 black-50">“Being rated as a waiter sounds horrible!”</p>

  </div>

</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Mission Statement Findings</h4>
  <blockquote class="f3 mh0 black-50">
    My research has found that good restaurant experiences rely heavily on human-to-human interactions.
    <br></br>
    Restaurants run on established processes and generally shy away from hi-tech if it means less face-time with the customer.
    <br></br>
    A restaurant’s experience can be severely impacted if the service is bad. Regardless of the food or the atmosphere.
  </blockquote>
</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Mission Statement</h4>
  <blockquote class="f1 mh0 black-50 lh-title">
    Improve dining experiences by improving their service
  </blockquote>
  <p>To do this we will</p>
  <ol>
    <li>Help waiters become better at their craft by providing genuine feedback from customers</li>
    <li>Incentivise the waiters to learn about the hospitality industry </li>
    <li>Help the waiters feel like a valued employee</li>
  </ol>
</div>



<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Paper Wireframes</h4>
  <p>
    I wrote a new final user journey to reflect the updated mission statement, this was the user journey flow that would later become the final design as well. Using this final user journey I was able to sketch out some basic wireframes on paper to get a feeling for the flow. After couple of iterations I was happy to move into digital wireframing.
  </p>
</div>

<div class="image-row reveal">
  <img src="images/wires.jpg" alt="">
</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Digital Wireframes</h4>
  <p>
    In the phase of digital wireframing I wanted to diverge as much as possible and created 3 different wireframe journeys before I was happy with the final version. The 3 different wireframes considered different scenarios, such as using a check-in system to the restaurant. Using NFC devices, and finally using a schedule system using Google's My Business.
  </p>
  <p><mark>This is where things get interesting</mark></p>
  <p>
    The final wireframe journey was an much more realistic approach to the problem. Going back to my user research I realised that restaurants were hesitant introducing extra work load to their already busy schedule. Such as bringing a NFC device onto the table in order for the customer to give feedback. My new updated journey would put the ball in the court of the customer.
  </p>
  <p class="f2">
    Google Maps already has vast amount of data about restaurants around the world. So my idea is to directly integrate the design solution as an integral part of Google Maps. I call it the <mark>Integrated Approach</mark>
  </p>
  <p>
    Because most of the workload of reviewing a waiter is delegated to the customer I discovered that a lot of constraints and assumptions where automagically solved. Such as identifying if a restaurant has waiters at all. Some food places are simply a hole-in-the-wall type and have no external service.
  </p>
  <p>
    A constraint to consider: How to deal with restaurants with lots of waiters? Ideally when the user is ready to give service feedback, they are presented only with the waiters that they interacted with. To solve this issue partially I've included some design thinking around what the business owners can do to help solve that issue. Google already has the My Business platform where they can edit various aspects of their business listing. Using the platform; business owners can define a schedule for their employees. Meaning that when customers are presented with a list of waiters, they only see the ones working on that particular day
  </p>
  <p>
    The integrated approach also solved the problem of making sure all restaurants had the latest technology such as scanning a NFC tag, or even a QR code. This meant that this solution will work for any restaurants around the world. No matter how remote they might be</p>
  </p>
  <p>
    During my research I identified that only certain user types would actively review businesses. The integrated approach makes sure that users arent forced to leave a review if they are not that type of user.
  </p>
</div>

<div class="image-row reveal">
  <img src="images/digital-wireframe.png" alt="">
</div>

<div class="text-row reveal nt6 cf">
    <div class="fl-ns w-60-ns">
      <video width="303" height="540" playsinline autoplay loop>
        <source src="/videos/wireframe_output.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <p class="fr-ns w-40-ns mt5 pl3-ns">
        It was important for me to clearly visualise the whole journey. I created simple wireframe prototypes that I was able to send to people who I interviewed earlier.
        <br></br>
        The feedback from the interviewees helped me form better experiences by listening to their painpoints and goals.
    </p>
</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Conclusions from wireframing</h4>
  <p>
    To reach the goal of helping the waiter become better at their craft the journey is built around giving feedback to each individual waiter.
  </p>
  <p>My research found that most customers are more likely leave reviews or feedback when the experience is either very bad or very good.</p>
  <p class="f3">How do we make sure the feedback is usable for the waiter?</p>
  <p>
    In order for the waiter to receive tangible feedback (without the emotions), we help the customers along the way. Customers are discouraged from leaving raw text comments. Customers are instead presented with a questionnaire with predefined questions that will help the waiter make sense of the feedback.
  </p>
</div>

<div class="image-row reveal">
  <img src="images/waiterfeedback.png" alt="">
</div>

<div class="text-row reveal">
  <p>
    Each topic of the questionnaire is crafted carefully to give quantifiable data to the restaurant. For instance if the customer is unhappy with slow service. The customer can select the option which says 'long wait', but they are also encouraged to enter how long they think they waited in minutes. This way the data can tell how long a 'long wait' truly is.
  </p>
  <p>
    A restaurant on the beach may be able to get away with slow service. However, a heavily trafficked city restaurant will need to be quicker. So the data will automatically align the slow service threshold appropriately.
  </p>

</div>

<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Visual design</h4>
  <p>
    In the visual design phase I started thinking about micro-interactions on a deeper level
  </p>
  <p>
    For instance how could we have the customer to identify a waiter if the profile picture is really vague? The solution was to include short video snippets instead of static pictures. When a waiter is onboarded they upload a short video of themselves that the app translates into a stop motion video. This helps the user further to identify a waiter more easily.
  </p>
</div>

<div class="image-row reveal">
  <img src="images/allscreens.jpg" alt="">
</div>

<div class="text-row reveal nt6 cf">
    <div class="fl-ns w-60-ns">
      <video width="303" height="540" playsinline autoplay loop>
        <source src="/videos/visual.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <p class="fr-ns w-40-ns mt5 pl3-ns">
        The visual journey clearly shows how the solution is integrated into Google Maps
        <br></br>
        The user customers can now rate the food, the service and the ambience of a restaurant
        <br></br>
        This will feed valuable data into Google Maps that is even more accurate which will help bringing better restaurant recommendations for future users.
    </p>
</div>

<div class="text-row reveal cf">
    <div class="fl-ns w-60-ns">
      <video width="303" height="540" playsinline autoplay loop>
        <source src="/videos/framer.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <p class="fr-ns w-40-ns mt5 pl3-ns">
        As for micro-interactions. I quickly whipped up a Framer prototype to test the feasability of the questionnaire functionality. It's not perfect but it's a proof of concept I'm happy to share.
        <br></br>
        It clearly shows the speed in which the user can give feedback to the waiter.
    </p>
</div>


<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Visual design — Waiter app</h4>
  <p>
    While the customer level is integrated into Google Maps, the waiters have their own app where they can check their performance.
  </p>
  <p>
    This is where all the data congregates into usable actions
  </p>
  <p>
    Our second goal of incentivising waiter to learn about the hospitality is solved in the waiter app. The waiters can read what went right and what went wrong, and learn from it!
  </p>
  <p>
    The waiter can read more about a specific topic, such as 'Long Wait'. In the detailed view the waiter is presented with useful data such as: How many minutes do customers think is considered a long wait?
  </p>
  <img src="images/wait.png" alt="">
  <p>
    The app includes positive feedback in forms of compliments from the customers. Making them feel valued as an employee. Tapping into reaching goal number 3 in the mission statement.
  </p>
  <p>
    The waiter can also download a document from the app that displays achievements throughout the entire career. The document can act as a valuable supplement to the CV. Helping them find better job prospects.
  </p>
</div>

<div class="image-row reveal">
  <img src="images/allscreens-waiter.jpg" alt="">
</div>


<div class="text-row reveal">
  <h4 class="f6 tracked black-50 ttu fw4">Conclusions & thoughts</h4>
  <p>
    Albeit adventurous, I think there is great potential in expanding the reviews into a more granular sections such as Service and Atmosphere. My research showed that users would find it useful to be able to see beyond the general restaurant rating.
  </p>
  <p>
    Like I mentioned in the beginning, this topic could be considered quite controversial due to the nature of rating people. But when there is a mutual exchange of values, it changes the narrative a bit. The waiter gets important feedback to become better. And the customer get incentives in form of restaurant vouchers or Local Guide points.
  </p>
  <p>
    I did consider whether star rating would be the best way to rate a waiter. And the conclusion was that because Google users are used to the convention of stars I wouldn't want to challenge that too much. But some further user testing could probably indicate if there is another way to rate a waiter.
  </p>
  <p>And because we are not rating products or intangible things like a restaurant experience. But actually people, the tone-of-voice needs to thread carefully. Using a clear language to avoid misconceptions.
  </p>

  <p>This exercise was a lot of fun to complete. I learned quite a bit about interesting methodologies that I found out whilst researching the best way to approach this problem</p>

  <p>If I had more time I would keep looking into improving the feedback that is sent between customer and waiter. Ultimately that is the most important part of the whole idea. </p>
  <p>But I would also love to spend more time researching ways for customers to only be exposed to the waiters they interacted with. It could really change the way users would be able to rate services from other industries too</p>
</div>
<div class="text-row reveal">
  <h1>Thank you for reading</h1>
  <a href="#">Go to top</a>
</div>
